@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

footer{
    background-color: #555;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
}

h3{
    padding: 1em;
}

.dl-horizontal dt
{
    padding:10px;
    white-space: normal;
}
.dl-horizontal dd
{
    padding:10px;
    white-space: normal;
}

pre{
	margin-top:20px;
	margin-bottom:20px;
}

.navbar-inverse{
  border-radius: 0;
}
